# commons-collections.jar - Commons-Collections Classpath
commons-collections.jar=${basedir}/../collections/build/commons-collections.jar
# commons-pool.jar - Commons-Pool Classpath
commons-pool.jar=${basedir}/../pool/build/commons-pool.jar
# sax2.jar - SAX2 API Classpath
sax2.jar=/cvs/bcom/bcom/stable/ext/lib/sax2.jar
# j2ee.jar - J2EE Classpath
j2ee.jar=/cvs/bcom/bcom/stable/ext/lib/j2ee.jar
# junit.jar - JUnit 3.2+ Classpath
junit.jar=/java/junit/junit.jar
