# commons-collections.jar - Commons-Collections Classpath
base.path=/usr/local
commons-collections.home=${base.path}/commons-collections-2.0
commons-collections.jar=${commons-collections.home}/commons-collections.jar
# commons-pool.jar - Commons-Pool Classpath
commons-pool.home=${base.path}/commons-pool-1.0
commons-pool.jar=${commons-pool.home}/commons-pool.jar

# jdbc20ext.jar - JDBC Optional Package 2.0 (also included in j2ee.jar)
jdbc20ext.home=${base.path}/jdbc2_0-stdext
jdbc20ext.lib=${jdbc20ext.home}
jdbc20ext.jar=${jdbc20ext.lib}/jdbc2_0-stdext.jar

# junit.jar - JUnit 3.2+ Classpath
junit.home=${base.path}/junit3.7
junit.lib=${junit.home}
junit.jar=${junit.lib}/junit.jar

# sax2.jar - SAX classpath
# Note: Apache Xerces supports the SAX 2 API - http://xml.apache.org/xerces2-j/
sax2.home=${base.path}/sax
sax2.lib=${sax2.home}
sax2.jar=${sax2.lib}/sax2.jar

# jndi.jar - Java Naming and Directory Interface (JNDI), version 1.2 or later
# Note: Optional with JDK 1.3+
#jndi.home=${base.path}/jndi
#jndi.lib=${jndi.home}/lib
#jndi.jar=${jndi.lib}/jndi.jar
